# androidx Extras

on post-fs-data
    # Run sysinit
    start sysinit

on boot
# sysinit (/system/etc/init.d)
service sysinit /system/bin/sysinit
    user root
    oneshot
    disabled

# SuperSU fix
service flash_recovery /system/etc/install-recovery.sh
    class main
    oneshot
